/* You can add global styles to this file, and also import other style files */
@import "/node_modules/bootstrap/dist/css/bootstrap.css";

body {
    background-color: #343a40; 
  }
    body {
    padding: 20px;
  }
  
  
  .form-container {
    background-color: #ffffff;
  }
  
  .form-control {
    background-color: #ffffff;
  }
  
  .error-message {
    background-color: #ffcccc;
    color: #cc0000; 
  }
  
  .success-message {
    background-color: #ccffcc; 
    color: #006600; 
  }
