<div class="container" style="max-width: 350px">
    <form (ngSubmit)="signup()" [formGroup]="userForm" >
  
      <!-- user Name -->
      <div>
        <label>Name</label>
        <input type="text" name="name" formControlName="name" id ="username" class="form-control">
        <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
          <div>
          <span class="text-danger" *ngIf="userForm.get('name')?.errors?.['required']">Name is required</span>
          <span class="text-danger" *ngIf="userForm.get('name')?.errors?.['pattern']">invalid Name</span>
        </div>
        </div>
      </div>
  
      <!-- user Email -->
      <div>
        <label>Email</label>
        <input type="email" name="email" formControlName="email" id ="email" class="form-control" >
        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
          <div>
            <span class="text-danger" *ngIf="userForm.get('email')?.errors?.['email']">
              invalid email
            </span>
            <span class="text-danger" *ngIf="userForm.get('email')?.errors?.['required']">
              email is required
            </span>
          </div>
        </div>
      </div>
  
      <!-- user Password -->
      <div>
        <label>Password</label>
        <input type="password" name="pass" formControlName="pass" id ="password" class="form-control" >

        <div *ngIf="userForm.get('pass')?.invalid && userForm.get('pass')?.touched">
          <div>
            <span class="text-danger" *ngIf="userForm.get('pass')?.errors?.['pattern']">
              Password must contain at least one number, one uppercase and lowercase letter, one special character, and be at least 8 characters long.
            </span>
            <span class="text-danger" *ngIf="userForm.get('pass')?.errors?.['required']">
              Password is required.
            </span>
          </div>
          
        </div>
      </div>
  
      <!-- Confirm Password -->
      <div>
        <label>Confirm Password</label>
        <input type="password" name="conpass" formControlName="conpass" class="form-control">
        <div *ngIf="userForm.hasError('mismatch') && userForm.get('conpass')?.touched">
          <small class="text-danger">Passwords do not match</small>
        </div>
      </div>
  
      <!-- Submit Button -->
      <div>
        <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary" >Register</button>
        <a routerLink="/signin" id="loginLink">Already a user?</a>
      </div>
  
    </form>
  </div>
  