<div class="container" style="max-width:350px">
    <form >
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id ="username" class="form-control">
      </div>
  
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id ="password" class="form-control">
      </div>
  
      <div>
        <input type="submit" value="Login" class="btn btn-primary" (click)="login()">
        <a routerLink="/signup" id="registerlink">New User?</a>
      </div>
    </form>
  </div>